volumes:
  claude_config:

services:
  llm:
    build:
      context: ./llm
      args:
        - LLM_USER=${LLM_USER}
        - LLM_HOME_DIR=${LLM_HOME_DIR}
    image: llm
    pull_policy: build
    cap_drop: ["ALL"]
    cap_add:
      - NET_ADMIN
      - SETPCAP
      - SETUID
      - SETGID
      - AUDIT_WRITE
      - DAC_OVERRIDE
      - CHOWN
    # Can't have this if you want sudo to work.
    # security_opt: ["no-new-privileges:true"]
    dns: ["1.1.1.1", "9.9.9.9"]
    environment:
      - HTTP_PROXY=http://tinyproxy:8888
      - HTTPS_PROXY=http://tinyproxy:8888
      - NO_PROXY=localhost,127.0.0.1
      - CLAUDE_CONFIG_DIR=${LLM_HOME_DIR}/.claude_persistent
      - TERM=xterm-256color
      - COLORTERM=truecolor
    depends_on:
      - tinyproxy
    volumes:
      - "claude_config:${LLM_HOME_DIR}/.claude_persistent"

  tinyproxy:
    build: ./tinyproxy
    image: tinyproxy
    pull_policy: build
